* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headingFont {
    font-family: "ADLaM Display", system-ui;
    font-weight: 300;
    font-style: normal;
}

.normalFont {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


h1 {
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #072AC8;
}

nav a {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #072AC8;
    margin-left: 45px;
    margin-top: 40px;
    align-self: center;
    text-decoration-line: none;
}

nav {
    height: 50px;
    padding-top: 10px;
    margin-right: 20px;
}

.logOutBtn {
    background-color: white;
    color: #1E96FC;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
}

label {
    font-weight: 600;
    font-size: 30px;
}

input[type="text"] {
    background-color: #A2D6F9;
    border: 0;
    border-radius: 13px;
    width: 647px;
    margin-bottom: 20px;
    justify-content: baseline;
}

textarea {
    background-color: #A2D6F9;
    border: 0;
    border-radius: 13px;
    width: 647px;
    margin-bottom: 20px;
    justify-content: baseline;
}

