<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
<div th:fragment="loggedInNav" style="width: 100vw; height: 100px; display: flex; align-content: center; justify-content: space-between; background-color: #FEF200; padding: 20px; margin-bottom: 50px;">
  <h1>Duinophile</h1>
  <nav>
    <a href="/courses">Courses</a>
    <a href="/feed">Feed</a>
    <a href="/profile">Profile</a>
    <a href="/" class="logOutBtn">Log out</a>
  </nav>
</div>
<div th:fragment="chatbot" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
  <button id="chatbot-toggle" class="btn"
          style="border-radius: 50%; width: 60px; height: 60px; font-size: 24px;">🤖</button>
</div>
</body>
</html>