<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{common :: loggedInNav}"></div>
<div class="heading" style="margin-top: 50px; margin-left: 100px; background-color: #00B521; width: 85vw; height: 60px; border-radius: 13px; display: flex; padding: 10px; align-items: center; justify-content: space-between">
    <h1 style="color: white;" th:text="${course.name}">Course name</h1>
    <div>
        <a th:href="@{/courseInfo/{id}(id=${course.id})}" role="button" style="all: unset; color: #00B521; background-color: white; padding: 5px; height: 40px; align-content: center; border-radius: 10px; font-size: 20px; padding-left: 10px; padding-right: 10px">
            Course Material
        </a>
        <a th:href="@{/editCourse/{id}(id=${course.id})}" role="button" style="all: unset; margin-left: 20px; color: #00B521; background-color: white; padding: 5px; height: 40px; align-content: center; border-radius: 10px; font-size: 20px; padding-left: 10px; padding-right: 10px">
            Edit course
        </a>
        <a th:href="@{/addLesson/{id}(id=${course.id})}" role="button" style="all: unset; margin-left: 20px; color: #00B521; background-color: white; padding: 5px; height: 40px; align-content: center; border-radius: 10px; font-size: 20px; padding-left: 10px; padding-right: 10px">
            Add lesson
        </a>
    </div>
</div>
<div class="lessons"></div>
<div class="ending" style="margin-top: 50px; margin-left: 100px; background-color: #00B521; width: 85vw; height: 60px; border-radius: 13px; display: flex; padding: 10px; align-items: center; justify-content: center">
    <h2 style="color: white">You've finished this course!</h2>
</div>
<div th:replace="~{common :: chatbot}"></div>
</body>
</html>